*log
.AMPEL*
__pycache__
*.slack*
*.smtp*
*test*
*.cred
*log
.ztfquery
.python-version
lists/*
ztffps/cosmology_leopold.py
ztffps/findpairs.py
bulk_logs/
ztffps.egg-info/
*.txt
!requirements.txt
!ztffps/data/gBandRefImages.txt
!ztffs/data/zp_thresholds_quadID.txt
