astropy
numpy
sncosmo
ztflc
ztfquery
slackclient
sqlalchemy
requests
pandas
datetime
matplotlib
lxml
html5lib
bs4
psycopg2
iminuit
sfdmap
pymongo
fastapi
uvicorn
keyring
setuptools>=46.4.0
git+https://github.com/AmpelProject/Ampel-interface.git
git+https://github.com/AmpelProject/Ampel-core.git
git+https://github.com/AmpelProject/Ampel-alerts.git
git+https://github.com/AmpelProject/Ampel-photometry.git
git+https://github.com/AmpelProject/Ampel-ZTF.git
