astropy
numpy
sncosmo
ztflc
ztfquery
slackclient
sqlalchemy
requests
pandas
datetime
matplotlib
lxml
html5lib
bs4
psycopg2
iminuit
sfdmap
pymongo
fastapi
uvicorn
keyring
git+https://github.com/AmpelProject/Ampel-base@master
git+https://github.com/AmpelProject/Ampel-ZTF@master
